.navigation {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.navigation__pagination {
  display: grid;
  place-items: center;
  color: var(--neon-green);
  font-weight: bold;
}
